html,
body,
#root,
.App {
    font-family: "SB Sans Text", "Helvetica", "Arial", sans-serif;
    width: 100% !important;
    height: 100% !important;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center; /**/
    text-align: center; /**/
}

.quiz-start,
.Menu {
    width: 100%;
    height: 100%;
    background-image: url("Content/index.jpg");
    /*background-image: url("Content/grammar.png");*/
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.quiz-text {
    /*padding-top: 280px;**/
    color: white;
    /*text-align: center;**/
    margin: 0;
    /*background-color: rgba(87, 85, 75, 0.6);*/
    /*width: 800px;*/
    /* justify-content: center; **/
}

.types {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 20px;
    /*background-color: rgba(87, 85, 75, 0.6);*/
    /*width: 800px;*/
    /* justify-content: center; */
}

.menu-btn {
    border: 1px solid white;
    background: none;
    color: white;
    font-weight: 600;
    padding: 10px;
    border-radius: 3px;
    margin: 10px;
    min-width: 200px;
}

.menu-btn span {
    font-weight: 600;
    font-size: 18px;
}

.menu-btn:hover,
.theory-button:hover {
    background-color: green;
}

.quiz-start {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.quiz-start div {
    width: 50%;
}

.game {
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
}

.game.past,
.game.present,
.game.future {
    /*width: 100%;
    height: 100%;*/
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
    background-size: cover;
    /*display: flex;*/
}

.game.past {
    background-image: url("Content/practice.jpg");
}

.game.present {
    /*background-image: url("Content/present.png");*/
    background-image: url("Content/practice.jpg");
}

.game.future {
    /*background-image: url("Content/future.png");*/
    background-image: url("Content/practice.jpg");
}

.theory-button {
    font-weight: bold;
    font-size: 24px;
}

.question-block {
    width: 500px;
    background-color: rgba(87, 85, 75, 0.6);
    padding: 32px;
    border-radius: 16px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.answers {
    height: 240px;
    background: rgba(34, 31, 24, 0.4);
    padding: var(--padding-block);
    border-radius: 16px;
    display: flex;
    flex-direction: column;
    width: 100%;
    margin-bottom: 5px;
    padding: 5px;
}

.answer {
    cursor: pointer;
    width: 90%;
    margin-left: 5%;
    margin-top: 10px;
    padding: 10px;
    color: white;
    border-radius: 4px;
    display: flex;
    align-items: center;
}

.answer-text {
    margin-left: 10px;
    margin-top: 2px;
    margin-right: auto;
}

.answer.correct::after,
.answer.incorrect::after {
    content: "";
    float: left;
    top: 50%;
    width: 28px;
    height: 28px;
    border-radius: 28px;
    color: black;
    margin-left: auto;
    display: flex;
    align-items: center;
    justify-content: center;
}

.answer.correct::after {
    content: "\2714";
    background: rgb(47, 207, 47);
}

.answer.incorrect::after {
    content: "\2718";
    background: rgb(218, 35, 35);
}

.next-quest-btn {
    cursor: pointer;
    background: rgb(238, 167, 81);
    color: black;
    border: 2px solid #000;
    display: inline-block;
    margin: 16px auto 0;
    border-radius: 108px;
    padding: 8px 32px;
    font-size: 16px;
    font-weight: 700;
}

.next-quest-btn[disabled] {
    background: rgba(192, 147, 49, 0.5);
    pointer-events: none;
}

.results-block {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.play-again-btn {
    background-color: #212529;
    color: white;
    font-size: 32px;
    border-radius: 5px;
    padding: 15px;
}

.results-comment {
    font-size: 20px;
    font-weight: 500;
    text-align: center;
}

.corr-ans-count {
    font-size: 32px;
    font-weight: 600;
}

@media (max-width: 600px) {
    .quiz-text {
        font-size: 2em;
    }

    .menu-btn span {
        font-size: 24px;
    }

    .answer {
        font-size: 1.2em;
    }

    .results-block {
        font-size: 1.2em;
    }
}

@media (min-height: 600px) {


    .quiz-text {
        font-size: 2em;
    }

    .menu-btn span {
        font-size: 24px;
    }

    .answer {
        font-size: 1.2em;
    }

    .results-block {
        font-size: 1.2em;
    }
}

@media (min-width: 600px) {
    .quiz-text {
        font-size: 2em;
    }

    .menu-btn span {
        font-size: 24px;
    }

    .answer {
        font-size: 1.2em;
    }

    .results-block {
        font-size: 1.2em;
    }
}

@media (min-width: 1024px) {
    .quiz-text {
        font-size: 3em;
    }

    .menu-btn span {
        font-size: 28px;
    }

    .answer {
        font-size: 1.5em;
    }

    .results-block {
        font-size: 1.5em;
    }

    .question-block {
        font-size: 1em;
    }
}

@media (min-height: 1900px) {
    .question-block {
        font-size: 1.5em;
    }

    .back-button {
        font-size: 1.25em;
    }

    .quiz-text {
        font-size: 2em;
    }

    .types {
        font-size: 1.5em;
    }

    .Menu {
        font-size: 1.7em;
    }
}
